{% extends './base.html' %}
{% load static %}

{% block header %}
<section id="video">
    <video id="video_itself" autoplay="autoplay" id="weare" muted loop src={% static 'files/video.mp4' %} width="100%"></video>
    <div id="video_text">
        <div>
            <span>
                <p id="achiev"><b>Достижения компании</b></p>
                
            </span>
            <span>
                <p>Объем производства вырос с 200 до 500 тонн</p>
                
            </span>
            <span>
                <p>Увеличилось количество фирменных торговых точек - с 3 до 17 единиц</p>
                
            </span>
            <span>
                <p>Увеличилось количество наименований (SKU) с 30 до более 60</p>
                
            </span>
        </div>
        <!-- <div>
            <span>
                <p>Отечественные Продукты</p>
                <hr>
            </span> 
            <span>
                <p>Более 20000 Доильных Коров на Фермах</p>
                <hr>
            </span>
            <span>
                <p>Лучшее Молоко в Западном Казахстане</p>
                <hr>
            </span>
        </div> -->
    </div>
    <div id="video_centeredtext">
        <hr> 
        <p>Высший сорт молока</p>
        <hr>
    </div>
</section>


<section id="slogan">

    <h3>Наш лозунг - Заботливая Мама</h3>
    <hr>
    <div id="underslogan">
        <img src={% static 'img/icons/мама.png' %}>
        <h5>Ведь только Мама выбирает всё самое лучшее для своей семьи!</h5>
        <img src={% static 'img/icons/девочка.png' %}>
    </div>
</section>
<section id="info">
    <div id="info_obj">
        <img src="{% static 'img/map.png' %}">
        <p> 
            MilkyLand - молодое амбициозное предприятие по производству кисломолочной продукции в Актюбинской области, городе Хромтау.
        </p>
    </div>
</section>


<section id="milkcompany_first">
    <h3>Milky Land</h3>
    <hr>
    <h4>Краткая информация и ценности компании</h4>       
    <span>  
        <p>
            <img src={% static 'img/carousel.jpeg' %}>
            Для нас, молодого амбициозного предприятия по производству кисломолочной продукции в Актюбинской области, клиентоориентированность – наш главный принцип во взаимодействии с нашими потребителями. Мы не только ищем новых потребителей, но и развиваем сотрудничество со старыми, повышая уровень сервиса из года в год.
            <br>
            Отличительной чертой нашей торговой марки – это акварельные мазки, сделанные детской рукой, которые мы отражаем на всех этикетках продукции, имиджевых носителях информации о компании/продукции (буклеты, каталоги, баннера и т.д.). Компания использует эти мазки, чтобы наш бренд был узнаваем для наших потребителей и выделялся среди других брендов. Таким образом, мазки и логотип - это идентификация нашей продукции, продуктовой линейки.
        </p>   
    </span>
</section>

<section id="wrap">
    <div id="milkcompany_second">
        <h3>Наше производство</h3>
        <hr>
        <h4>Мы нацелены на качество!</h4>
        <span>
            <p>
                <img src={% static 'img/production.jpeg' %}>
                <br>
                Миссия компании: «Мы создаем пищевую продукцию, соответствующую высоким стандартам качества и безопасности, предоставляя потребителю широкий выбор продукции казахстанского производства, достигая лидерских позиций в создании единого корпоративного духа!».
            </p>
            <p>
                Основное сырье для продукции – молоко – мы получаем от местных фермеров и крестьянских хозяйств Актюбинской области. Таким образом, продукция, которую мы выпускаем, является полностью казахстанского производства, в том числе упаковка и тара выпущены на казахстанских предприятиях.
            </p>
            <p>   
                В продуктовой линейке нашей компании имеется 41 наименований. Это кефирная группа, сметанная группа, йогуртовая группа, творожные продукты, масло и молоко. 
            </p>
        </span>
    </div>
</section>

<section id="production">
    <h3>Способы изготовления продуктов</h3>
    <hr>
    <h4>У нас два пути для создания высококачественного продукта!</h4>
    <span>
        <img src={% static 'img/carousel.jpeg' %}>
        <h5>Первый</h5>
        <p>Резервуарный способ изготовления – это уже готовый продукт разливается в тары, закрывается, отражаются сроки годности и отправляется на сохранение в холодильники до отправки на продажу.</p>
        <h5>Второй</h5>
        <p>Термостатный способ изготовления – это такой способ, при котором сквашивание молока и созревание кисломолочных продуктов происходит непосредственно в потребительской таре. Для этого ведра помещают в термостатную камеру, где температура достигает +45 С0 и их выдерживают в течение нескольких часов. Таким образом гарантируется изготовление исключительно натуральной продукции без добавления консервантов.</p>
    </span>
</section>


<div id="mazki">
    <!-- <img src={% static 'img/icons/мазки.png' %}> -->
</div>

<section id="partner">

    <h2>Наши партнеры</h2>
    <div id="partner_list">
        <span>
            <div>
                <img src={% static 'img/Partners/cnpc-3.png' %}>
            </div>
            <h1>Кита́йская национа́льная нефтега́зовая корпора́ция — крупнейшая китайская нефтегазовая компания.</h1>
        </span>
        <span>
            <div>
                <img src={% static 'img/Partners/самал.png' %}>
            </div>
            <h1>Samal cakes - кондитерская фабрика города Актобе, известная своей выпечкой и вкусными тортами</h1>
        </span>
        <span>
            <div>
                <img src={% static 'img/Partners/vanil.png' %}>
            </div>
            <h1>Кондитерская «Ваниль» имеет честь предложить Вам самые лучшие торты, пирожные, пироги, шоколад в г. Актобе.</h1>
        </span>
        <span>
            <div>
                <img src={% static 'img/Partners/актобе.png' %}>
            </div>
            <h1>Актобе́ — город в Казахстане, административный центр Актюбинской области, одноимённой городской администрации и агломерации.</h1>
        </span>
        <span>
            <div>
                <img src={% static 'img/Partners/анвар.png' %}>
            </div>
            <h1>«АНВАР» — это крупнейшая оптово-розничная сеть в Республике Казахстан (Западный Казахстан), филиалы в городах Актобе, Астана, Атырау, Актау, Уральск, Караганда, Кызылорда</h1>
        </span>
        <span>
            <div>
                <img src={% static 'img/Partners/дина.png' %}>
            </div>
            <h1>Сеть супермаркетов Дина. Это один из крупнейших супермаркетов в Актобе!</h1>
        </span>
        <span>
            <div>
                <img src={% static 'img/Partners/казхром.jpg' %}>
            </div>
            <h1>Транснациональная компания «Казхром» — вертикально интегрированная горно-металлургическая компания</h1>
        </span>
    </div>
</section>
{% endblock %}