{% extends './base.html' %}
{% load static %}

{% block head %}
<section id="maincard_head">
    <img src={% static 'img/other_files/bonusclub.jpg' %} >
</section>

<section id="clubcard_head">
    <div class="bonus">
        <h1>Карта покупательского клуба "MilkyLand"</h1>
        <img src={% static 'img/other_files/bonus.jpg' %}>
        <h1>Как получить карту:</h1>
        <p><b>1. </b>Совершить покупку на 990 тг в фирменном киоске «MilkyLand”</p>
        <br>
        <p><b>2. </b>Заполнить анкету </p>
        <br>
        <p><b>3. </b>Получить карту у продавца киоска</p>
    </div>
</section>

<section id="policy">
    <h1>ПРАВИЛА ПОКУПАТЕЛЬСКОГО КЛУБА MilkyLand</h1>
    <ul>
        <h3>
            1.
                ПРИВИЛЕГИИ ДЛЯ УЧАСТНИКОВ ПОКУПАТЕЛЬСКОГО КЛУБА:</h3>
    
            <li>
                1.
                Приобретение товаров по специальной цене и получение бонусов с каждой покупки </li>
            <li>
                1.1.
                Право на оплату до 30% от суммы покупки накопленными бонусами, по схеме 1 бонус = 1 тенге.</li>
            <li>
                1.2.
                Специальные предложения и подарки только для участников покупательского клуба MilkyLand.</li>
            <li>
                1.3.
                Приоритетное информирование о проведении специальных акций и мероприятий.</li>
    
            <h3>
                2.
                РЕГИСТРАЦИЯ</h3>         
    
            <li>
                2.
                Бонусная электронная карта оформляется в течение 3-х рабочих дней с момента совершения покупки и заполнения анкеты.</li>
            <li>
                2.1.
                Бонусная электронная карта оформляется при условии правильного заполнения анкеты с обязательным указанием достоверной информации, а именно:</li>
                <li class="policy_inside">
                    <span>•
                    ФИО;</li> 
                <li class="policy_inside">
                    <span>•
                    Номера мобильного телефона;</li>
                <li class="policy_inside">
                    <span>•
                    Даты рождения;</li>
            <li>
                2.3.
                В случае изменения контактных данных с момента оформления карты, покупателю следует обновить их, обратившись к продавцу фирменного киоска MilkyLand.</li>
            <li>
                2.4.
                Участником бонусной программы может стать любое физическое лицо, которому на момент регистрации исполнилось 18 лет.</li>
    
            <h3>
                3.
                ПРАВИЛА НАЧИСЛЕНИЯ БОНУСОВ</h3>
    
            <li>
                3.
                Процент начисления бонусов составляет 0,5% от общей суммы покупки.</li>
            <li>
                3.1.
                Бонусная электронная карта предоставляет право на оплату до 30% от суммы покупки накопленными бонусами.</li>
            <li>
                3.2.
                Списание и начисление бонусов производится только по номеру мобильного телефона, который был указан в анкете.</li>
            <li>
                3.3.
                В момент оплаты покупки могут осуществляться операции – начисление бонусов и их списание согласно пункту 2.1</li>
            <li>
                3.4.
                Начисление бонусов на карту не производится:</li>
                <li class="policy_inside">
                    •
                    В случае использования при расчете других видов карт лояльности.</li>
                <li class="policy_inside">
                    •
                    На товары со специальной ценой, если иное не оговорено условиями акции.</li>
            <li>
                3.5.
                Бонусы не могут быть выданы в денежном эквиваленте.</li>
            <li>
                3.6.
                Активная бонусная электронная карта не имеет срока годности.</li>
            <li>
                3.7.
                При обмене или возврате товара, приобретенного с использованием бонусной электронной карты, бонусы сгорают.</li>
            <li>
                3.8.
                Сумму накопленных бонусов можно уточнить в фирменных киосках MilkyLand.</li>
    
            <h3>
                4.
                СПИСАНИЕ БОНУСОВ</h3>
                
            <li>
                4.
                Списание бонусов производится в любом фирменном киоске MilkyLand в момент оформления покупки.</li>
            <li>
                4.1.
                Бонусы могут быть использованы для частичной оплаты покупок, но не более 30% Оставшаяся часть покупки должна быть оплачена наличными денежными средствами или банковской картой.</li>
            <li>
                4.2.
                Бонусы списываются из расчета: 1 тенге = 1 бонус</li>
            <li>
                4.3.
                Накопленные бонусы по желанию клиента могут быть списаны частично.</li>
            <li>
                4.4.
                Бонусными баллами не могут быть оплачены подарочные сертификаты.</li>
    
            <h3>
                5.
                ПРАВИЛА ВОЗВРАТА ТОВАРОВ, ОПЛАЧЕННЫХ БОНУСАМИ</h3>
                
            <li>
                5.
                При возврате товара, оплаченного бонусами, количество бонусов, истраченных на возвращенный товар сгорают.</li>
            <li>
                5.1.
                При возврате товара сумма бонусов, начисленная за покупку этого товара, списывается с карты Участника потребительского клуба.</li>
                
            <h3>
                6.
                ОТКАЗ ОТ ПОЛУЧЕНИЯ СООБЩЕНИЙ</h3>
                
            <li>
                6.
                В любой момент действия бонусной программы покупатель может отказаться от получения информации в виде sms-рассылок, телефонных звонков любым удобным способом:</li>
                <li class="policy_inside">
                    •
                    Сделав соответствующие пометки при заполнении анкеты</li>
                <li class="policy_inside">
                    •
                    Сообщить продавцу фирменного киоска MilkyLand</li>
            <li>
                6.1.
                Удаление с группы рассылок будет выполнено в течение 7 рабочих дней с момента обращения к продавцу.</li>
    
            <h3>
                7.
                ПОЛУЧЕНИЕ ИНФОРМАЦИИ О ПРАВИЛАХ ДЕЙСТВИЯ БОНУСНЫХ КАРТ</h3>
        
            <li>
                7.
                Ознакомиться с подробными правилами действия бонусных карт, а также получить дополнительную информацию можно:</li>
            <li class="policy_inside">
                •
                Обратившись к продавцу фирменного киоска MilkyLand или позвонить по номеру 8 771 650 50 04 (Call center)</li>
            <li>Прием звонков: в будние дни с 09:00 до 18:00; в субботу с 09:00 до 13:00; воскресенье выходной день</li>
            <li>График работы киоска: ежедневно с 09:00 до 19:00</li>
        </ul>
</section>
{% endblock %}